.modicon_journal > img.activityicon {
  width: 50px !important;
  height: 50px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.modicon_choicegroup > img.activityicon {
  width: 50px !important;
  height: 50px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.modicon_customcert > img.activityicon {
  width: 50px !important;
  height: 50px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.modicon_mediagallery > img.activityicon {
  width: 50px !important;
  height: 50px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.modicon_questionnaire > img.activityicon {
  width: 50px !important;
  height: 50px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.modicon_tab > img.activityicon {
  width: 50px !important;
  height: 50px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}