.breadcrumb {
    margin-left: 8px;
    justify-content: flex-end;

    .breadcrumb-item + .breadcrumb-item::before {
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\276f";
        display: flex;
        align-items: center;
        white-space: nowrap;
        height: 100%;
        color: #ced4da;
    }
}

.context-header-settings-menu,
.region-main-settings-menu {
    margin-left: .5rem;
}
