$brand-primary: #0f47ad !default;
$secondary-menu-color: $brand-primary !default;

$green: #64a44e !default;
$gold: #f7bf29 !default;

$moodle-color: #f98012 !default;
$facebook-color: #4167B2 !default;
$moodle-color: #f98012 !default;
$twitter-color: #55acee !default;
$youtube-color: #cc181e !default;
$linkedin-color: #007bb5 !default;
$instagram-color: #8a3ab9 !default;
$whatsapp-color: #25d366 !default;
$telegram-color: #0088cc !default;

// York colour palette
$york-black:            #000000;
$york-blue-bright:      #3AC2EF;
$york-blue-light:       #ACE6F8;
$york-grey-dark:        #686260;
$york-grey-light:       #E1DFDC;
$york-grey-medium:      #B7AEA9;
$york-grey-pewter:      #D6CFCA;
$york-red:              #E31837;
$york-red-medium:       #AF0D1A;
$york-red-dark:         #810001;
$york-schulich-blue:    #0062ac;
$york-schulich-green:   #00a057;
$york-lassonde-navy:    #003366;
$york-lassonde-plum:    #993366;
$york-lassonde-red:     #cc3333;
$york-lassonde-teal:    #339999;
$york-lassonde-yellow:  #ffcc00;

$fontsite: "font-family-sans-serif", sans-serif !default;