{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/filemanager_licenselinks

    This template renders the window with file information/actions.

    Example context (json):
    {
        "licenses":[
           {
              "fullname":"All rights reserved",
              "source":"http:\/\/en.wikipedia.org\/wiki\/All_rights_reserved"
           },
           {
              "fullname":"Public Domain",
              "source":"http:\/\/creativecommons.org\/licenses\/publicdomain\/"
           },
           {
              "fullname":"Creative Commons",
              "source":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"
           },
           {
              "fullname":"Creative Commons - NoDerivs",
              "source":"http:\/\/creativecommons.org\/licenses\/by-nd\/3.0\/"
           },
           {
              "fullname":"Creative Commons - No Commercial NoDerivs",
              "source":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/"
           },
           {
              "fullname":"Creative Commons - No Commercial",
              "source":"http:\/\/creativecommons.org\/licenses\/by-nc\/3.0\/"
           },
           {
              "fullname":"Creative Commons - No Commercial ShareAlike",
              "source":"http:\/\/creativecommons.org\/licenses\/by-nc-sa\/3.0\/"
           },
           {
              "fullname":"Creative Commons - ShareAlike",
              "source":"http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/"
           }
        ]
    }
}}
<div
        id="moove-licenselinks"
    style="width: 700px;"
>
    <div

    >
        <div style="width: 900px;" >
            <h4>Copyright Status Help</h4>
        </div>
        <div
        style="width: 1500px">
            <br>Before you upload course materials to Moodle you must indicate the copyright status of each item. Each of the copyright options is explained in greater detail below. If you require additional information or assistance contact the Copyright Office at <a href="mailto:copy@yorku.ca">copy@yorku.ca</a>.<br><br>
            <strong>I hold the copyright to this material</strong><br>
            You are the author of this material and have not transferred the rights to a publisher or any other person (e.g. course outlines, lecture notes or slides, articles that you have published and still retain the rights to use for teaching purposes, etc.).<br><br>
            <strong>Use is covered under a York University Libraries' Licence</strong><br>
            Select this copyright status if you are uploading eResources available through York Libraries.  Before you upload the item check the terms of use for that resource.  Information on how to access the licence terms of use for an eResource can be found <a href="http://researchguides.library.yorku.ca/c.php?g=679479&amp;p=4791810" target="_blank">http://researchguides.library.yorku.ca/c.php?g=679479&amp;p=4791810</a>.<br>Some licences only allow links to the content and instructions on how to create a link to the item can be found <a href="http://researchguides.library.yorku.ca/eresources" target="_blank">http://researchguides.library.yorku.ca/eresources</a>.<br><br>
            <strong>Material can be uploaded under York' s Fair Dealing Guidelines</strong> <br>
            This status should be selected if your use is fair dealing in accordance with the University's Fair Dealing Guidelines.<br>Review the Fair Dealing Guidelines at <a href="http://copyright.info.yorku.ca/fair-dealing-requirements-for-york-faculty-and-staff/" target="_blank">http://copyright.info.yorku.ca/fair-dealing-requirements-for-york-faculty-and-staff/</a>.<br><br>
            <strong>Use of the material is covered by a licence from the copyright holder or with their permission</strong><br>
            Select this option if the copyright holder has either given you permission, licensed the material to you or allows this use under a general Open Access or Creative Commons licence.<br><div style="padding:10px;"><strong>Note</strong>:  Always keep a copy of the permission or licence (in paper or electronic form). Any limitations on use set out by the rights holder must be respected.  For information on how to obtain permission for copyright-protected materials contact the Copyright Support staff at <a href="mailto:copy@yorku.ca">copy@yorku.ca</a>.</div><br>
            <strong>Material is in the public domain</strong><br>
            An item is in the public domain if the term of copyright has expired. This is generally the life of the author plus <strong>50</strong> years.<br>More information and exceptions to this rule can be found <a href="http://copyright.info.yorku.ca/public-domain-open-access-and-creative-commons-material/" target="_blank">http://copyright.info.yorku.ca/public-domain-open-access-and-creative-commons-material/</a>.<br><br>
            <strong>Student Work Returned - with comments</strong><br>
            Choose this option if the content uploaded contains student work (papers, tests, assignments, etc.) with comments from the instructor or TA<br><br>
            <strong>Other</strong><br>
            Choose this option if the content uploaded contains short extracts from multiple rights holders or it does not fall within any of the copyright options listed.  Describe the details of the material(s) in the <strong>Additional Comments/ Explanation</strong> text box provided.<br><div style="padding:10px;"><strong>Note</strong>:  If you have questions or need assistance in determining the copyright status of your course materials, email <a href="mailto:copy@yorku.ca">copy@yorku.ca</a> for a consultation. Copyright Support staff will review your selections to ensure that they comply with Canadian copyright law. They can also assist in securing transactional permissions from the copyright holder or from the holder’s licensing agent, if necessary.</div><br><p align="center">
            Additional information on copying practices at York University can be found on the
            York Copyright website at <a href="http://www.yorku.ca/copyright" target="_blank">www.yorku.ca/copyright</a></p>
        </div>
    </div>
</div>