@import "./default";

body {

  --primary: #7e8c9d !important;
  --brand-primary: #7e8c9d !important;
  --brand-primary-2: #6a7685 !important; // Values like this are 10% darker (https://pinetools.com/darken-color)
  --secondary-menu-color: #12161b !important;
  --secondary-menu-color-2: #1f262f !important;

  --background-primary: #0d1117;
  --background-primary-2: #26282c;

  --background-navbar: #010409;
  --background-navbar-2: #151617;

  --background-action-menu: #212830;
  --background-action-menu-2: #2b343f;

  --background-drawer: #12161b;
  --background-footer: #18191A;
  --font-primary: #ece7e7;
  --font-secondary: #dad7d7;
  --background-primary-button: #212830;
  --border-primary-0: #4f5864;
  --border-primary-1: #3d444d;
  --border-primary-2: #282d32;


  --nav-font-1: rgba(255, 255, 255, 0.9);
  --nav-font-2: rgba(255, 255, 255, 0.7);
  --nav-font-3: rgba(255, 255, 255, 0.5);
  --nav-font-4: rgba(255, 255, 255, 0.3);
  --nav-font-5: rgba(255, 255, 255, 0.1);

  --primary-2: rgba(57, 73, 95, 0.9); // 50% lighter
  --primary-3: rgba(57, 73, 95, 0.7); // 40% lighter
  --primary-4: rgba(57, 73, 95, 0.5); // .75 RGBA
  --primary-5: rgba(57, 73, 95, 0.4); // 40% darker
  --primary-6: rgba(57, 73, 95, 0.1); // 50% darker

}

nav.navbar.bg-white {
  background-color: unset !important;

  .navbar-light .navbar-brand {
    color: unset !important;
  }
}


/*
When in dark mode, override the WYSWG editor colours on elements.
Only overrides them within activities, section info, etc.
If it is found one is not included here, simply add the class it locates in.
*/
.main-inner {
  border: 1px solid var(--border-primary-2);

  .activity, .section, .activity-header {

    // If they set color, background, OR background-color
    [style*='color'], [style*='background'] {
      color: inherit !important;
      background-color: inherit !important;
    }
  }
  .que .content {
    p, span, code, a, blockquote, pre, li {
      mix-blend-mode: screen;
    }
  }


}


/*
Scrollbar Start
 */

.btn-secondary {
  background-color: var(--background-primary-button) !important;
  border-color: var(--border-primary-1)
}

.btn-secondary:hover:not(:disabled) {
  border-color: var(--border-primary-0);
}

body#page-question-type-shortanswer div[id^=fgroup_id_][id*=answeroptions_], body#page-question-type-shortanswer div[id^=fitem_id_][id*=feedback_] {
  background: inherit;
  border: none !important;
}

#course-management .boxes {
  li, a {
    color: var(--nav-font-1) !important;
  }
}

::-webkit-scrollbar {
  position: fixed;
  margin-left: 2px;
  margin-right: 2px;
  padding: 30px;
  background-color: transparent !important;
  border-radius: 15px;

}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  width: 15px;
  background: $background-primary !important;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border: 5px solid;
  border-radius: 15px;
  background: $background-navbar !important;
  border-color: $background-primary !important; // Smaller effect
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
  background-color: transparent !important;

}

::-webkit-scrollbar-corner {
  background-color: $background-primary;
}

.drawerheader {
  border-top: 1px solid var(--border-primary-1)
}

// Drawer Scrollbar
.drawer {

  ::-webkit-scrollbar-track-piece {
    background: var(--background-drawer) !important;
    border-radius: 0px !important;
  }

  ::-webkit-scrollbar-thumb {
    border-color: var(--background-drawer) !important;
    background: $background-primary !important;
  }
}

.drawer-toggles .drawer-toggler .btn {
  background-color: var(--background-drawer) !important;
  border-color: var(--border-primary-2) !important;
}

/*
Scrollbar End
 */


.navbar.fixed-top .navbar-brand .logo {
  filter: brightness(1000);
}

.primary-navigation {
  .moremenu .nav-link.active:focus,
  .moremenu .nav-link.active:hover,
  .moremenu .nav-link:hover,
  .moremenu .nav-link:focus {
    background-color: $nav-font-5 !important;
  }
}

.navbar.fixed-top .primary-navigation .navigation .nav-link.active, .secondary-navigation .moremenu .nav-tabs .nav-link.active {
  border-color: var(--border-primary-0);
}

.moove-background-secondary, {
  background-color: $background-navbar !important;
}

#region-main, #page.drawers .main-inner {
  background-color: $background-drawer !important;
}

.card {
  background-color: inherit !important;
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 40%);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 40%);
}


nav.navbar {
  box-shadow: none !important;
}

.btn-primary:focus, .btn-primary.focus {
  outline: none !important;
}

.drawer {
  background-color: $background-drawer !important;

  .block_recentlyaccesseditems a.dashboard-card small {
    color: inherit !important;
  }

  .drawertoggle {
    color: $nav-font-2 !important;
  }

  .courseindex-section:focus {
    box-shadow: none;
  }

  .courseindex .courseindex-item {


    .courseindex-link, .courseindex-chevron {
      color: $nav-font-2 !important;
    }

    &:hover, &:focus {
      background: var(--primary) !important;
      color: inherit;
    }

    .courseindex-link:hover, .courseindex-link:focus, .courseindex-chevron:hover, .courseindex-chevron:focus {
      color: $nav-font-1 !important;
    }
  }

}

img[src*="monologo"] {
  filter: invert(0.8);
}

.maincalendar .calendarmonth .clickable:hover {
  background-color: $background-primary !important;
}

[data-region='no-events-empty-message'] > img, img.empty-placeholder-image-lg {
  filter: brightness(0.7);
}

.block-region .block .card-title {
  color: inherit;
}

[aria-labelledby='format-menutab-heading-one'] .row a.btn-secondary {
  background: inherit !important;
}

div.header-container > [data-region='view-conversation'], [data-region='content-messages-footer-container'] {
  background-color: $background-drawer !important;
}

.message-app {

  .btn.btn-link.btn-icon {
    &:hover, &:focus {
      background-color: transparent !important;
    }
  }

}

.btn-secondary {
  color: inherit !important;
  background-color: var(--background-primary-button) !important;
}

.dashboard-card {
  background-color: $background-primary !important;
  border: 1px solid var(--border-primary-2) !important;

  div.course-category {
    background-color: $background-primary !important;
  }

}


#page-my-index.page-mycourses .header-actions-container .header-action .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  background-color: var(--background-primary-button);
}

#cria-launcher {
  filter: grayscale(1) invert(0.9) !important;
}

.activityiconcontainer.content {
  background-color: var(--background-action-menu);
  border: 1px solid var(--border-primary-1);
}

.activityiconcontainer.assessment {
  background-color: #aa0a52;
}

.activityiconcontainer.collaboration {
  background-color: #b13422;
}

.block .block-cards .dashboard-card-footer.menu .btn.btn-link.btn-icon {
  background-color: transparent !important;
}


#page-header {
  button {
    color: inherit !important;
  }
}

[data-region='event-list-loading-placeholder'],
[data-region='header-placeholder'],
[data-region='content-placeholder'],
[data-region='placeholder-container'],
[data-region='loading-placeholder-content'],
.message-app {
  .bg-pulse-grey {
    background-color: $background-action-menu !important;
  }

  .bg-light, {
    background-color: $background-action-menu !important;
  }

  .bg-white {
    background-color: $background-action-menu !important;
  }
}

.dropdown-menu {
  background-color: $background-action-menu !important;
  color: $font-primary !important;
}

.fa.fa-window-close {
  color: $nav-font-1 !important;
}

span[data-flexitour="container"][x-placement="bottom"]
div[data-role="arrow"]:after,
span[data-flexitour="container"][x-placement="bottom-start"] div[data-role="arrow"]:after {
  border-bottom: $background-action-menu;
}

i.text-info, i.text-info:hover, i.text-info:focus, .moodle-dialogue-hd {
  color: inherit !important;

  yui3-widget-hd > h3, .closebutton {
    color: inherit !important;
  }
}


.moodle-dialogue-base {
  color: inherit !important;

  .moodle-dialogue-wrap {
    background-color: $background-primary !important;
  }

  .moodle-dialogue-hd.yui3-widget-hd {
    color: inherit !important;
  }

  .close-button {
    color: inherit;
  }
}

.editor_atto_toolbar,
.editor_atto_content_wrap,
div.editor_atto_toolbar div.atto_group {
  background-color: transparent !important;
  color: $font-primary !important;
}

.editor_atto_notification .atto_info {
  background-color: transparent !important;
}

div.editor_atto_toolbar button .icon {
  color: #ece7e7 !important;
}

div.editor_atto_toolbar button:hover {

  .icon {
    color: #282828 !important;

  }
}

.atto_h5p_button {

  img {
    filter: invert(0.9);
  }

  &:hover {
    background: #ebebeb;

    img {
      filter: invert(0.3);
    }


  }
}

.icons-collapse-expand.collapsed .collapsed-icon {
  color: inherit !important;
}

.btn {
  color: inherit !important;
}

.btn.btn-icon:hover, .btn.btn-icon:focus {
  background-color: $background-primary !important;
}

div[data-region='footer-container-popover'] {
  .btn.btn-icon {
    background-color: var(--secondary-menu-color) !important;
  }

  .btn.btn-icon:hover, .btn.btn-icon:focus {
    background-color: var(--background-navbar) !important;
  }
}

.list-group-item {
  border-color: var(--border-primary-1);
}

.modal-content {
  .modal-footer {
    border-top: 1px solid var(--border-primary-1) !important;
  }
}

.modal-header > .close {
  color: inherit !important;
}

.dropdown-item {
  color: $nav-font-1 !important;
}

.secondary-navigation {
  filter: none !important;
  border-top: 1px solid var(--border-primary-2);
  border-bottom: 1px solid var(--border-primary-2);
}

.navbar.fixed-top .divider {
  border-color: var(--border-primary-2) !important;
}

.fp-pathbar .fp-path-folder, .fp-path-folder > .aalink {
  filter: invert(0.8);
  color: white !important;
}

button.btn-primary, input.btn-primary, a.btn-primary, .btn-primary {
  background-color: var(--background-primary-button) !important;
  border: 0.5px solid var(--border-primary-1) !important;

  &:hover {
    background-color: $secondary-menu-color-2 !important;
    border-color: var(--border-primary-0) !important;
  }
}

.alert-danger {
  background: #c36b5f;
  color: #000 !important;
}

.alert-warning,
.environmenttable .warn,
.que .outcome,
.que .comment {
  color: #bda582 !important;
  background-color: #2a2822 !important;
  border: 1px solid #bda5825c !important;
}

.generaltable th, .generaltable td, .generaltable thead th, .generaltable thead td {
  border-color: var(--primary);
}

div.bg-light, div.bg-white {
  background-color: $background-drawer !important;
}

.page-link {
  background-color: inherit !important;
}

.overlay-icon-container {
  background-color: $background-navbar;
}

.dropdownmoremenu {
  ul.dropdown-menu {
    background-color: $background-action-menu !important;
  }
}

small.text-dark {
  color: $nav-font-3 !important;
}

div > a.text-dark {
  color: $nav-font-2 !important;

  &:hover, &:focus {
    color: $nav-font-3 !important;
  }
}

h2 > img.iconlarge, .modicon > .icon, .activity > img.icon, icon.activityicon, .card-text img.icon, .qtype > img.icon {
  filter: invert(0.8);
}

.generaltable {
  color: inherit !important;

  tbody tr:hover {
    color: $nav-font-2 !important;
  }
}


.path-grade-report-singleview div.reporttable {
  background-color: inherit !important;
}

.list-group-item-action:focus {
  background-color: inherit !important;
}

.calendar_event_course {
  background-color: inherit !important;
}

.path-grade-report-singleview .reporttable tbody tr {

  &:nth-of-type(odd) {
    background-color: inherit !important;
  }

  &:nth-of-type(even) {
    background-color: inherit !important;
  }

  background-color: inherit !important;
}

.jschooser .choosercontainer #chooseform {
  .instruction, .typesummary {
    background-color: inherit !important;
  }
}

.chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-bd {
  background-color: inherit !important;
}

.choosercontainer #chooseform .selected {
  background-color: $background-navbar !important;

  label {
    border-bottom: none !important;
  }
}

.page-header-headings > .text-muted {
  color: inherit !important;
}

#id_answerhdrcontainer > div[id^=fitem_id_] {
  background-color: inherit !important;
  padding: 12px
}

::-webkit-resizer {
  background-color: $background-primary !important;
}

.description .course-description-item {
  background-color: transparent !important;
}


input {
  background: inherit !important;
  color: inherit;
  border: 1px solid $primary;
  border-radius: 5px;
}

.form-control, .custom-select, .custom-select {
  color: $primary !important;
  background-color: transparent !important;
}

div.editor_atto_toolbar,
.form-control,
.custom-select,
.editor_atto_toolbar,
.editor_atto_content_wrap,
div.editor_atto_toolbar div.atto_group {
  border-color: var(--border-primary-1) !important;
}

.path-backup .mform .root_setting:nth-of-type(even),
.path-backup .mform .grouped_settings:nth-of-type(even) {
  background-color: unset !important;
}

.popover-region-container, .popover-region-footer-container {
  border: none !important;
}

.icon.itemicon, .icon.activityicon, .dragicon > .icon.fa {
  filter: invert(0.65);
}

.filemanager > .card {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: var(--primary-4);
}


.editing .activity-item:hover, .editing .activity-item.selected {
  color: inherit !important;
  background-color: inherit !important;
  border-color: inherit !important;

  .activityiconcontainer {
    mix-blend-mode: normal !important;
  }
}

[data-itemtype='sectionnamenl'] > a.aalink, .quickeditlink.aalink {
  color: inherit !important;

  &:hover {
    color: inherit !important;
  }

  &:focus {
    background-color: var(--secondary-menu-color) !important;
  }

}

.nav-tabs:not(.more-nav) .nav-link, .nav-pills .nav-link {
  background: $background-primary !important;
  border: 0;
  margin: .125rem
}

.nav-tabs:not(.more-nav), .nav-pills {
  border-bottom: 2px solid;
  border-color: var(--background-primary) !important;
  background-color: $background-primary !important;

  .nav-link {
    margin-bottom: 0;
  }
}

.block .block-controls a.dropdown-toggle {
  color: inherit !important;
}

.editor_atto_toolbar button:active, .editor_atto_toolbar button.highlight {
  i.icon {
    color: #262626;
  }
}

.table-hover tbody tr:hover {
  color: var(--nav-font-3) !important;
}


div.course-description-item {
  mix-blend-mode: initial !important;
}

div.activity-item:not(.activityinline) {
  background: var(--background-primary-button);
  border: 0.5px solid var(--border-primary-1);

  /*
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.4);
   */
}

.coursecontentblocks .card {
  background-color: $background-primary !important;
}

.activity-item.hiddenactivity {
  background-color: inherit !important;


  div.activityname > a.aalink {
    color: #383838 !important;
  }
}

.border, div.border {
  color: var(--border-primary-1) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--secondary-menu-color-2) !important;
}

.maincalendar .calendarmonth td.today span.day-number-circle {
  background-color: var(--background-primary);
}

div.alert-info {
  color: var(--nav-font-1);
  background-color: var(--primary-5);
}

.popover {
  background: var(--background-primary);
}

.popover-body .footer-section, .popover-body .footer-section a {
  color: var(--nav-font-1) !important;
}

div.alert button {
  text-shadow: none;
  color: var(--font-primary);
}

.moodle-dialogue-exception .param-stacktrace label {
  background-color: inherit !important;
}

.moodle-dialogue-exception .param-stacktrace pre {
  background-color: inherit !important;
  color: var(--font-primary) !important;
}

.fp-repo-items {
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 40%);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 40%);
  border-radius: 10px;
  padding: 5px;

  .fp-pathbar, .fp-content, .fp-navbar {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
}

.fp-viewbar.disabled {
  cursor: not-allowed;
}

.mform fieldset {
  border-color: var(--nav-font-4);
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.form-autocomplete-suggestions {
  background-color: var(--background-action-menu) !important;
  border: none !important;
  padding-left: 10px !important;
  border-radius: 5px;
}


#sticky-footer {
  border-top: none !important;
}

.course-manage > a.btn.btn-link:hover {
  background-color: var(--secondary-menu-color) !important;
}

// Feature assistant override (requires sleekplan)
div.i-sl-button-inner.compact .i-sl-button-btn.active::after {
  background-color: var(--background-navbar-2);
}

div.i-sl-button-btn {
  background-color: var(--background-navbar-2);
}

.page-link:hover, a:hover {
  color: var(--brand-primary-2);
}


.block.block_important_links .content li a:hover {
  color: var(--background-primary);
}

#block-region-side-pre .card-text img.icon {
  filter: invert(0.8);
}

#page .course-content .section-summary {
  border-color: transparent !important;
}

#format_menutab_home_page_image {
  color: inherit !important;
}

.user-report-container {
  background: var(--background-primary) !important;
  border: none !important;

  .user-grade tbody tr {
    background: transparent !important;
  }

  .grade-report-user .user-grade td.category {
    background: var(--background-navbar) !important;
    border: none !important;
  }

  .grade-report-user .user-grade td, td, th {
    background: var(--background-primary) !important;
    border-color: transparent !important;
    border: none !important;

  }

  .grade-report-user .user-grade td.item {
    border: none !important;
    background: var(--background-primary) !important;
  }

}

div.forumpost, div.forumpost.border {
  background: var(--background-primary);
  border-color: transparent !important;
}


[data-region="loading-placeholder"] .bg-pulse-grey {
  background: var(--background-primary-2) !important;
}

button.btn-footer-popover, .btn-group.course-manage > a {
  border: 1px solid var(--primary-2);
}

div.alert > button.close {
  color: unset;
}

.path-backup .backup-section {
  background-color: unset !important;
  border: 1px solid var(--border-primary-1) !important;
}

/*
=============================================
QUIZ OVERRIDES START
=============================================
 */

#categoryquestions {
  border: 1px solid var(--border-primary-1) !important;
}

#categoryquestions th {
  padding-top: 10px !important;
}

#categoryquestions tr:last-child td {
  padding-bottom: 10px !important;
}

#categoryquestions td:first-child {
  padding-left: 20px !important;
}

#categoryquestions th:first-child {
  padding-left: 20px !important;
}

#categoryquestions td:last-child, #categoryquestions th:last-child {
  padding-right: 20px !important;
}

#categoryquestions > tbody > tr.r1, #categoryquestions > thead {
  background-color: rgba(0, 0, 0, .09);
}


/* Invert colours on checkboxes & radios (only works on selected choice) */
.path-mod-quiz input[type='checkbox']:not(:checked),
.path-mod-quiz input[type='radio']:not(:checked),
.path-mod-quiz input[type='checkbox']:disabled,
.path-mod-quiz input[type='radio']:disabled {
  filter: invert(1) drop-shadow(2px 4px 6px black);
}

.que.ddimageortext .group1, form.mform fieldset#id_previewareaheader .group1 {
  background-color: unset !important;
}


.path-mod-quiz {
  .gradedattempt, tr.gradedattempt > td, .highlight {
    color: var(--background-navbar) !important;
    background-color: var(--nav-font-1) !important;
    border-color: var(--nav-font-1) !important;
  }
}

#page-mod-quiz-edit ul.slots li.section .content {
  background-color: inherit !important;
}

#page-mod-quiz-edit .section .activity .actions {
  background-color: $background-action-menu;
  padding: 5px;
  border-radius: 5px;
}

#page-mod-quiz-edit {

  .inplaceeditable {
    border-radius: 3px;
    background-color: var(--background-primary);
    color: var(--primary) !important;
  }

  ul.slots li.activity div.activityinstance {
    .questionname, .questiontext {
      color: inherit;
    }
  }

}

table.quizreviewsummary {

  th.cell, td.cell {
    background: var(--background-action-menu) !important;
  }

  border: 1px solid var(--primary);
}


#page-mod-quiz-view table.quizattemptsummary tr.bestrow td {
  border-color: inherit !important;
  background: var(--background-action-menu) !important;
}

#page-mod-quiz-edit .slotnumber {
  background-color: inherit !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-5) !important;
}

#quiz-timer-wrapper #quiz-timer {
  background-color: #9d4646 !important;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton {
  background-color: unset !important;
}

.que {

  div.content {
    border-radius: 5px;
  }

  div.info {
    background-color: var(--background-primary);
    border-radius: 5px;
    color: inherit;
    border: none;
  }

  div.formulation {
    background-color: var(--background-primary);
    color: inherit;
  }
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.notyetanswered .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.invalidanswer .trafficlight {
  background-color: var(--background-action-menu-2);
}

.qtext table {
  td, th {
    border-color: white !important;
  }
}

/*
=============================================
QUIZ OVERRIDES END
=============================================
 */