@import "./default";

body {

  --primary: #a1a5b3 !important;
  --brand-primary: #a1a5b3 !important;
  --brand-primary-2: #8e93a3 !important; // Values like this are 10% darker (https://pinetools.com/darken-color)
  --secondary-menu-color: #51545C !important;
  --secondary-menu-color-2: #484b52 !important;

  --background-primary: #2B2D31;
  --background-primary-2: #26282c;

  --background-navbar: #18191A;
  --background-navbar-2: #151617;

  --background-action-menu: #2B2D31;
  --background-action-menu-2: #26282c;

  --background-drawer: #1E1F22;
  --background-footer: #18191A;
  --font-primary: #ece7e7;
  --font-secondary: #dad7d7;

  --nav-font-1: rgba(255, 255, 255, 0.9);
  --nav-font-2: rgba(255, 255, 255, 0.7);
  --nav-font-3: rgba(255, 255, 255, 0.5);
  --nav-font-4: rgba(255, 255, 255, 0.3);
  --nav-font-5: rgba(255, 255, 255, 0.1);

  --primary-2: rgba(255, 255, 255, 0.9); // 50% lighter
  --primary-3: rgba(255, 255, 255, 0.7); // 40% lighter
  --primary-4: rgba(255, 255, 255, 0.5); // .75 RGBA
  --primary-5: rgba(255, 255, 255, 0.4); // 40% darker
  --primary-6: rgba(255, 255, 255, 0.1); // 50% darker

}

/*
Scrollbar Start
 */


::-webkit-scrollbar {
  position: fixed;
  margin-left: 2px;
  margin-right: 2px;
  padding: 30px;
  background-color: transparent !important;
  border-radius: 15px;

}
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  border-radius: 15px;
  width: 15px;
  background: transparent !important;

}

::-webkit-scrollbar-thumb {
  border: 5px solid;
  background: $background-navbar !important;
  border-color: $background-primary !important;  // Smaller effect
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
  background-color: transparent !important;

}

::-webkit-scrollbar-corner {
  /*
  background-image: url(resources/corner.png);
  background-repeat: no-repeat;
  */
  background-color: $background-primary;
}


/*
Scrollbar End
 */


.navbar.fixed-top .navbar-brand .logo {
  filter: brightness(1000);
}

.primary-navigation {
  .moremenu .nav-link.active:focus,
  .moremenu .nav-link.active:hover,
  .moremenu .nav-link:hover,
  .moremenu .nav-link:focus{
    background-color: $nav-font-5 !important;
  }
}

.moove-background-secondary, {
  background-color: $background-navbar !important;
}

#region-main, #page.drawers .main-inner {
  background-color: $background-drawer !important;
}

.card {
  background-color: inherit !important;
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 40%);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 40%);
}

.btn-primary:focus, .btn-primary.focus {
  outline: none !important;
}

.drawer {
  background-color: $background-drawer !important;

  .block_recentlyaccesseditems a.dashboard-card small {
    color: inherit !important;
  }
  .drawertoggle {
    color: $nav-font-2 !important;
  }
  .courseindex .courseindex-item {
    .courseindex-link, .courseindex-chevron {
      color: $nav-font-2 !important;
    }
    .courseindex-link:hover, .courseindex-link:focus, .courseindex-chevron:hover, .courseindex-chevron:focus {
      color: $nav-font-1 !important;
    }
  }

}

.maincalendar .calendarmonth .clickable:hover {
  background-color: $background-primary !important;
}

[data-region='no-events-empty-message'] > img {
  filter: brightness(0.7);
}

div.header-container > [data-region='view-conversation'], [data-region='content-messages-footer-container'] {
  background-color: $background-drawer !important;
}

.message-app {

  .btn.btn-link.btn-icon {
    &:hover, &:focus {
      background-color: transparent !important;
    }
  }

}

.btn-secondary {
  color: inherit !important;
  background-color: inherit !important;
}

.dashboard-card {
  background-color: $background-primary !important;
  border: none !important;

  div.course-category {
    background-color: $background-primary !important;
  }

}

.block .block-cards .dashboard-card-footer.menu .btn.btn-link.btn-icon {
  background-color: transparent !important;
}


#page-header {
  button {
    color: inherit !important;
  }
}

[data-region='event-list-loading-placeholder'],
[data-region='header-placeholder'],
[data-region='content-placeholder'],
[data-region='placeholder-container'],
[data-region='loading-placeholder-content'],
.message-app {
  .bg-pulse-grey {
    background-color: $background-primary !important;
  }
  .bg-light,  {
    background-color: $background-primary-2 !important;
  }
  .bg-white {
    background-color: $background-primary-2 !important;
  }
}

.dropdown-menu {
  background-color: $background-action-menu !important;
  color: $font-primary !important;
}

.fa.fa-window-close {
  color: $nav-font-1 !important;
}

span[data-flexitour="container"][x-placement="bottom"]
div[data-role="arrow"]:after,
span[data-flexitour="container"][x-placement="bottom-start"] div[data-role="arrow"]:after {
  border-bottom: $background-action-menu;
}

i.text-info, i.text-info:hover, i.text-info:focus, .moodle-dialogue-hd  {
  color: inherit !important;

  yui3-widget-hd > h3, .closebutton {
    color: inherit !important;
  }
}


.moodle-dialogue-base {
  color: inherit !important;

  .moodle-dialogue-wrap {
    background-color: $background-primary !important;
  }

  .moodle-dialogue-hd.yui3-widget-hd {
    color: inherit !important;
  }

  .close-button {
    color: inherit;
  }
}

.editor_atto_toolbar,
.editor_atto_content_wrap,
div.editor_atto_toolbar div.atto_group {
  background-color: transparent !important;
  color: $font-primary !important;
}

.editor_atto_notification .atto_info {
  background-color: transparent !important;
}

div.editor_atto_toolbar button .icon {
  color: #ece7e7 !important;
}

div.editor_atto_toolbar button:hover {

  .icon {
    color: #282828 !important;

  }
}

.atto_h5p_button {

  img {
    filter: invert(0.9);
  }
  &:hover {
    background: #ebebeb;

    img {
      filter: invert(0.3);
    }


  }
}

.icons-collapse-expand.collapsed .collapsed-icon {
  color: inherit !important;
}

.btn {
  color: inherit !important;
}

.btn.btn-icon:hover, .btn.btn-icon:focus {
  background-color: $background-primary !important;
}

.list-group-item {
  border-color: $font-primary;
}

.modal-header > .close {
  color: inherit !important;
}

.dropdown-item {
  color: $nav-font-1 !important;
}

.fp-pathbar .fp-path-folder, .fp-path-folder > .aalink {
  filter: invert(0.8);
  color: white !important;
}

button.btn-primary, input.btn-primary {
  background-color: $secondary-menu-color !important;
  border-color: $secondary-menu-color !important;

  &:hover {
    background-color: $secondary-menu-color-2 !important;
    border-color: $secondary-menu-color-2 !important;
  }
}


div.bg-light, div.bg-white {
  background-color: $background-navbar !important;
}

.page-link {
  background-color: inherit !important;
}
.overlay-icon-container {
  background-color: $background-navbar;
}

.dropdownmoremenu {
  ul.dropdown-menu {
    background-color: $background-action-menu !important;
  }
}

small.text-dark {
  color: $nav-font-3 !important;
}

div > a.text-dark {
  color: $nav-font-2 !important;
  &:hover, &:focus {
    color: $nav-font-3 !important;
  }
}

h2 > img.iconlarge, .modicon > .icon {
  filter: invert(0.9);
}

.generaltable {
  color: inherit !important;

  tbody tr:hover {
    color: $nav-font-2 !important;
  }
}

#page-mod-quiz-edit ul.slots li.section .content {
  background-color: inherit !important;
}

.path-grade-report-singleview div.reporttable {
  background-color: inherit !important;
}

.list-group-item-action:focus {
  background-color: inherit !important;
}

.calendar_event_course {
  background-color: inherit !important;
}

.path-grade-report-singleview .reporttable tbody tr{

  &:nth-of-type(odd) {
    background-color: inherit !important;
  }
  &:nth-of-type(even) {
    background-color: inherit !important;
  }

  background-color: inherit !important;
}

.jschooser .choosercontainer #chooseform {
  .instruction, .typesummary {
    background-color: inherit !important;
  }
}

.chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-bd {
  background-color: inherit !important;
}

.choosercontainer #chooseform .selected {
  background-color: $background-navbar !important;

  label {
    border-bottom: none !important;
  }
}

.page-header-headings > .text-muted {
  color: inherit !important;
}

#id_answerhdrcontainer > div[id^=fitem_id_] {
  background-color: inherit !important;
  padding: 12px
}

::-webkit-resizer {
  background-color: $background-primary !important;
}
.description .course-description-item {
  background-color: transparent !important;
}

.activity > img.icon, icon.activityicon {
  filter: invert(0.8);
}

input {
  background: inherit !important;
  color: inherit;
  border: 1px solid $primary;
  border-radius: 5px;
}

.form-control, .custom-select, .custom-select {
  border-color: $primary !important;
  color: $primary !important;
  background-color: transparent !important;
}



.popover-region-container, .popover-region-footer-container {
  border: none !important;
}

.icon.itemicon, .dragicon > .icon.fa {
  filter: invert(0.65);
}

.filemanager > .card {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before {
  background-color: var(--primary-4);
}


.editing .activity-item:hover, .editing .activity-item.selected {
  color: inherit !important;
  background-color: inherit !important;
  border-color: inherit !important;

  .activityiconcontainer {
    mix-blend-mode: normal !important;
  }
}

[data-itemtype='sectionnamenl'] > a.aalink, .quickeditlink.aalink {
  color: inherit !important;

  &:hover {
    color: inherit !important;
  }

  &:focus {
    background-color: var(--secondary-menu-color) !important;
  }

}

.nav-tabs:not(.more-nav) .nav-link,.nav-pills .nav-link {
  background: $background-navbar !important;
  border: 0;
  margin: .125rem
}

.nav-tabs:not(.more-nav),.nav-pills {
  margin: 0;
  border: 0;
  padding: .125rem;
  background-color: $background-primary !important;
}

#page-mod-quiz-edit .section .activity .actions {
  background-color: $background-action-menu;
  padding: 5px;
  border-radius: 5px;
}

#page-mod-quiz-edit {

  .inplaceeditable {
    border-radius: 3px;
  }

  ul.slots li.activity div.activityinstance {
    .questionname, .questiontext {
      color: inherit;
    }
  }

}

.block .block-controls a.dropdown-toggle {
  color: inherit !important;
}

.editor_atto_toolbar button:active, .editor_atto_toolbar button.highlight {
  i.icon  {
    color: #262626;
  }
}

.table-hover tbody tr:hover {
  color: var(--nav-font-3) !important;
}


div.course-description-item {
  mix-blend-mode: initial !important;
}