<div id="savyalerts">
    <div class="savy-speech savy-top savy-top-left-half">
        <div id="savy-alerts-container"></div>
    </div>
</div>
<input id="unsupported_browser_text" type="hidden" value="{{{unsupported_browser}}}">
<input id="popup_enabled_text" type="hidden" value="{{{popup_enabled_text}}}">
<input id="quiz_help" type="hidden" value="{{{quiz_help}}}">